*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.sol{
    position: absolute;
    left: 10px;
    top:10px;
    z-index: 1;
}